sudo: false
language: node_js
node_js: "5.2"
cache:
  - directories:
    - node_modules
notifications:
  email: false
before_install:
- npm i -g npm@^3.0.0
before_script:
- npm prune
- npm install -g gulp
script:
- npm run test
after_success:
- npm run semantic-release
